* {
    border: none;
    border-radius: 0;
    font-family: "Neon Bines", Symbols Nerd Font;
    font-size: 14px;
    min-height: 0;
}

#workspaces button {
    padding: 5 5px;
    border: none;
    color: #28ffd0;
    background: none;
}

window#waybar,
#workspaces button.focused,
#workspaces button:hover {
    background: none;
    text-shadow:
        0 0 2px #16F2FA,
        0 0 6px #16F2FA,
        0 0 20px #16F2FA,
        0 0 20px #16F2FA,
        0 0 .8px #28ffd0,
        2px 2px 0.2px #147f68;
    color: #28ffd0;
}

window#waybar {
    background-color: rgba(41, 48, 68, 0.5);
}

#mode,
#battery,
#cpu,
#memory,
#network,
#backlight,
#disk,
#pulseaudio,
#temperature,
#language,
#clock,
#tray {
    background: none;
    padding: 5 5px;
    text-shadow:
        0 0 2px #16F2FA,
        0 0 6px #16F2FA,
        0 0 20px #16F2FA,
        0 0 20px #16F2FA,
        0 0 .8px #28ffd0,
        2px 2px 0.2px #147f68;
    color: #28ffd0;
}

#window,
#workspaces {
    padding: 5 5px;
    margin: 0px 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

label:focus {
    background: none;
}

#pulseaudio.muted,
#workspaces button.urgent,
#mode,
#tray > .needs-attention,
#network.disconnected,
#custom-power
{
    text-shadow:
        0 0 2px #FA1C16,
        0 0 6px #FA1C16,
        0 0 20px #FA1C16,
        0 0 20px #FA1C16,
        0 0 .8px #ff6528,
        2px 2px 0.2px #7f3214;
    color: #ff6528;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

/*
pretty neon banner 😂
*/
#custom-banner {
    font-family: neon;
    font-size: 25px;
    color: #FB4264;
    text-shadow:
        0 0 2px #FA1C16,
        0 0 6px #FA1C16,
        0 0 20px #FA1C16,
        0 0 20px #FA1C16,
        0 0 .8px #FED128,
        2px 2px 0.2px #806914;
    color: #FED128;
}

/* enable if you want animated neon banner, and have cpu resources to spare */
/* #custom-banner {
  font-family: neon;
  font-size: 25px;
  color: #FB4264;
  text-shadow: 0 0 20px #F40A35;
  animation: neon 1.5s infinite;
  animation-timing-function: cubic-bezier(0.1, 1.5, 1.0, 0.5);
}
@keyframes neon
{
  0%
  {
    text-shadow:
        0 0 2px #FA1C16,
        0 0 6px #FA1C16,
        0 0 20px #FA1C16,
        0 0 20px #FA1C16,
        0 0 .8px #FED128,
        2px 2px 0.2px #806914;
    color: #FED128;
  }

  100%
  {
    text-shadow:
        0 0 2px #FA1C16,
        0 0 6px #FA1C16,
        0 0 20px #FA1C16,
        0 0 20px #FA1C16,
        0 0 .8px #FED128,
        2px 2px 0.2px #806914;
    color: #FED128;
  }

  50%
  {
    text-shadow:
        0 0 1px #800E0B,
        0 0 3px #800E0B,
        0 0 10px #800E0B,
        0 0 10px #800E0B,
        0 0 .4px #800E0B,
        2px 2px .2px #40340A;
    color: #806914;
  }
} */
