* {
    border: none;
    font-family: "Input Sans Compressed", "Symbols Nerd Font", "DejaVu Sans Mono wifi ramp";
    font-size: 16px;
    min-height: 0px;
}

window#waybar {
    background: none;
}

#battery,
#cpu,
#memory,
#network,
#backlight,
#pulseaudio,
#clock,
#workspaces button,
#window,
#tray {
    color: #a9b1d6;
    background: #24283b;
    border: 0.5px solid #1a1b26;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #1a1b26;
    padding: 0px 10px;
    margin: 5px 5px;
}

#pulseaudio.muted,
#tray > .needs-attention,
#mode,
#network.disconnected,
#custom-power
{
    color: #db4b4b;
    border: 0.5px solid #1a1b26;
    background: #24283b;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #1a1b26;
    padding: 0px 10px;
    margin: 5px 5px;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#custom-banner {
    font-family: "InputSerifCompressed ExLight";
    font-weight: bold;
    font-size: 18px;
    border: 0.5px solid #1a1b26;
    color: #db4b4b;
    background: #24283b;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #1a1b26;
    padding: 0px 10px;
    margin: 5px 5px;
}

#workspaces button:hover,
#workspaces button.focused {
    border: 0.5px solid #db4b4b;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #db4b4b;
}
