* {
    border: none;
    font-family: "Input Sans Compressed", Symbols Nerd Font;
    font-size: 14px;
    min-height: 0px;
}

window#waybar {
    background: none;
}

#battery,
#cpu,
#memory,
#network,
#backlight,
#pulseaudio,
#clock,
#workspaces button,
#window,
#tray {
    color: #343b58;
    background: #d5d6db;
    border: 1px double black;
    border-radius: 0px;
    box-shadow: 2px 2px 2px #626368;
    padding: 0px 10px;
    margin: 5px 5px;
}

#workspaces button {
    padding: 0px 0px;
}

#workspaces button:hover,
#workspaces button.focused {
    border-style: dashed;
}

#pulseaudio.muted,
#tray > .needs-attention,
#workspaces button.urgent,
#mode,
#network.disconnected,
#custom-power
{
    color: #db4b4b;
    border: 1px double black;
    background: #d5d6db;
    border-radius: 0px;
    box-shadow: 2px 2px 2px #626368;
    padding: 0px 10px;
    margin: 5px 5px;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#custom-banner {
    font-family: "InputSerifCompressed ExLight";
    font-weight: bold;
    font-size: 16px;
    border: 1px double black;
    color: #db4b4b;
    background: #d5d6db;
    border-radius: 0px;
    box-shadow: 2px 2px 2px #626368;
    padding: 0px 10px;
    margin: 5px 5px;
}
